
		<footer id="main-footer">
		
			<div class="container">
			
				<div class="row">
				
					<div class="col-sm-6 left-col">
						<h1 class="small-logo">2 0 8<br><span>App </span></h1>
						<ul class="footer-nav">
							<li><a class="scrollto" href="#home">Home</a></li>
							<li><a class="scrollto" href="#services">Features</a></li>
							<li><a class="scrollto" href="#portfolio">Selection</a></li>
							<li><a class="scrollto" href="#about">Download</a></li>
						</ul>
						<p>&copy; OneSnap, co.</p>
					</div>
					
					<div class="col-sm-6 right-col">
						<h2>Moto</h2>
						<p>One teaspoon of honey is the life work of 12 bees.<br/>(Do not disregard one's work)</p>
					</div>
					
				</div>
				
			</div>
			
		</footer>